:root {
    --light-grey: #9dd7fb;
    --dark: #0d0d0dd9;
    --white: #ffffff;
    --light: #e7ecef;
    --grey: #403d39;
}

body, h6, h5, h4, h3, h2, h1, p {
    font-family: 'Mukta Malar', sans-serif;
    margin: 0px;
    padding: 0px;

}
main {
    display: flex;
}
.background_container {
    background-image: url(./images/background.jpg);
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}

.icon_container {
    position: fixed;
    margin: 2rem;
}

.icon_container:hover {
    background-color: var(--light-grey);
}

span {
    color: var(--white);
    align-items: center;
}

.app {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    display: inline-flex;
}
div {
    display: block;
}
.taskbar_container {
    bottom: 0px;
    position: fixed;
}

.taskbar_card {
    width: 100vw;
    height: 50px;
    background-color: var(--dark);
}

.taskbar_left {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding-left: 14.4px;
}

.start_btn {
    background-color: transparent;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 5px;
}

.start_btn:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.searchbar {
    background-color: var(--grey);
    margin-top: 5px;
    margin-left: 15px;
    padding: 2px 6px 2px 6px;
    border-color: transparent;
    align-items: center;
    border-radius: 4px;
}

.file_explorer {
    background-color: transparent;
    margin-top: 9px;
    border-color: transparent;
    margin-left: 10px;
}

.file_explorer:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.chrome {
    background-color: transparent;
    margin-top: 9px;
    border-color: transparent;
    margin-left: 10px;
}

.chrome:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.snipets {
    background-color: transparent;
    margin-top: 9px;
    border-color: transparent;
    margin-left: 10px;
}

.snipets:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.appstore {
    background-color: transparent;
    margin-top: 9px;
    border-color: transparent;
    margin-left: 10px;
}

.appstore:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.edge {
    background-color: transparent;
    margin-top: 9px;
    border-color: transparent;
    margin-left: 10px;
}

.edge:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.taskbar_right {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    margin-left: 10px;
    display: flex;
}

.chevron {
    padding-top: 8px;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}

.chevron:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.internet {
    padding-top: 8px;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}

.internet:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.volume {
    padding-top: 8px;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}

.volume:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.battery {
    padding-top: 8px;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}

.battery:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.language_card {
    color: #e7ecef;
    padding-top: 22px;
    font-size: 11px;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 0.2rem;
}

.datetime_card {
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}


.datetime_card:hover {
    background-color: var(--light);
    border-radius: 5px;
}

.time_card {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 12px;
}
.date_card {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}